<div class="container" data-ng-controller="LoginController">

    <form class="form-signin" role="form">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input class="form-control" placeholder="Username" required="" autofocus="" type="" ng-value="username" ng-model="username">
        <input class="form-control" placeholder="Password" required="" type="password" ng-value="password" ng-model="password">
        <label class="checkbox">
          <input value="remember-me" type="checkbox"> Remember me
        </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="login()">Sign in</button>
    </form>

</div>